@{
    ViewBag.Title = "buyBook";
}

<h2 class="text-center">买书</h2>

<button class="btn btn-info">
@Html.ActionLink("查看我的买书历史", "historyOrders")

</button>
<table class="table table-striped">
    <tr>
        <td> 图示编号</td>
        <td>图书名称</td>
        <td>价格</td>
        <td>出版社</td>
        <td>出版时间</td>
        <td>作者</td>
    </tr>
    <tr>
        <td>@ViewBag.bookId</td>
        <td>@ViewBag.bookTitle</td>
        <td>@ViewBag.bookPrice</td>
        <td>@ViewBag.bookPublishing</td>
        <td>@ViewBag.bookPublishDate</td>
        <td>@ViewBag.bookAuthors</td>
    </tr>
</table>
@using (Html.BeginForm("buyBook", "Books", FormMethod.Post))
{
    <table class="table">
        <tr class="success">
            <td>
                @Html.Label("书籍编号")
            </td>
            <td>
                @Html.Display("bookId1")
            </td>
            <td>
                @Html.Label("地址")
            </td>
            <td>
                @Html.TextBox("address")
            </td>
            <td>
                @Html.Label("数量")
            </td>
            <td>
                @Html.TextBox("count")
            </td>
        </tr>
    </table>
    <br />
    <button class="btn btn-success" type="submit" value="" >购书</button>
}