@{
    ViewBag.Title = "AddBooks";
}
<div class="nav-item container mangePanel">

    <button class="nav-link collapsed btn btn-success" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span class="glyphicon glyphicon-asterisk"></span>
        <span>管理面板</span>
    </button>
    <br />
    <br />

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header text-info"><span class="glyphicon glyphicon-align-left"></span>管理类别：</h6>

            <button class="btn btn-info">
                <span class="glyphicon glyphicon-user"></span>
                @Html.ActionLink("管理用户", "Select", "Admin", new { @class = "slogn collapse-item" })
            </button>
            <br />
            <br />
            <button class="btn btn-info">
                <span class="glyphicon glyphicon-book"></span>
                @Html.ActionLink("管理图书", "manageBooks", "Admin", new { @class = "slogn collapse-item" })
            </button>

        </div>
    </div>
</div>
<h2>添加图书</h2>
@using (Html.BeginForm("AddBooks", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <tr class="warning">
            <th>添加信息</th>
            <th></th>
            <th>内容</th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.Label("书籍名称")
            </td>
            <td>
                @Html.TextBox("bookTitle")
            </td>
            <td>
                @Html.Label("书籍价格")
            </td>
            <td>
                @Html.TextBox("bookPrice")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("书籍作者")
            </td>
            <td>
               @Html.TextBox("bookAuthor")
            </td>
            <td>
                <span>选择上传文件：</span>
            </td>
            <td>
                <input name="file" type="file" id="file" />
            </td>
            
        </tr>
    </table>
      <button class="btn btn-success " type="submit" name="Upload" value="增加">增加</button>

}