@model bookMall.Models.Books

@{
    ViewBag.Title = "midifyBooks";
}

<h2>修改书籍</h2>

@using (Html.BeginForm("midifyBooks", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <tr class="warning">
            <th>添加信息</th>
            <th></th>
            <th>内容</th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.Label("书籍名称")
            </td>
            <td>
                @Html.TextBox("bookTitle")
            </td>
            <td>
                @Html.Label("书籍价格")
            </td>
            <td>
                @Html.TextBox("bookPrice")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("书籍作者")
            </td>
            <td>
               @Html.TextBox("bookAuthor")
            </td>
            <td>
                <span>选择上传文件：</span>
            </td>
            <td>
                <input name="file" type="file" id="file" />
            </td>
        </tr>
    </table>
      <button class="btn btn-success " type="submit" name="Upload" >修改</button>

    @*@Html.Label("书籍编号");
    @Html.Display("bookId");
    @Html.Label("书籍名称");
    @Html.TextBox("bookTitle");
    @Html.Label("书籍价格");
    @Html.TextBox("bookPrice");
    @Html.Label("书籍作者");
    @Html.TextBox("bookAuthor");

    @Html.Label("书籍封面");
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <input type="submit" name="Upload" value="修改" />*@
}
