@{
    ViewBag.Title = "changePassword";
}

<h2>changePassword</h2>
@using (Html.BeginForm("changePassword", "Login", FormMethod.Post))
{
    @Html.Label("用户名")
    @Session["name"].ToString()
    
    @Html.Label("原始密码")
    @Html.Password("passWord")
    
    @Html.Label("新密码")
    @Html.Password("newPassWord")
    @Html.Label("确认密码")
    @Html.Password("newPassWordAgain")
    <br/>
    <input type="submit" value="修改">
    @ViewBag.message
}
