<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 网上书店</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*<link href="/Content/CSS/_layout.css" rel="stylesheet" />*@
        <link href="/Content/CSS/layout.css" rel="stylesheet" />
        <link href="/Content/CSS/managePanelCSS.css" rel="stylesheet" />
        <link href="/Content/CSS/Books-Index.css" rel="stylesheet" />
        <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/Content/bootstrap/js/jquery-3.5.1.js"></script>
        <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="container">
        <header>
            <div class="content-wrapper">
                <div class="pull-left">
                    <p class="site-title">
                        <img src="../../Content/logo.png" class="logo" width="140" height="70" alt="Alternate Text" />
                        @Html.ActionLink("BookMall", "../Books/Index", new { @class = "slogn" })
                    </p>
                </div>
                <div class="pull-right">
                    <section id="login" class="pull-right">
                        @Html.ActionLink("登陆", "../login/Index")
                        @Html.ActionLink("注册", "../login/register")
                    </section>
                    <nav class="nav-menu">
                        <ul id="menu">
                            <li>@Html.ActionLink("主页", "Index", "Books")</li>
                            <li>@Html.ActionLink("购物车", "historyOrders", "Books")</li>
                            <li>@Html.ActionLink("个人中心", "user", "login")</li>
                        </ul>
                        @RenderPage("../Books/srearchBooks.cshtml")
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="text-center">
                    <p> 网上书城--毕业设计
                    &copy; @DateTime.Now.Year --Made by 刘流</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
